<!DOCTYPE html>
<html>
  <head>
    <title>Изгледи</title>
    <meta charset="utf-8">
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<link href="views.css" rel="stylesheet" type="text/css"> 
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
		<script>
			$(function() {
			
			$("#button1").click(function() {
			  $("#authors").show();
			  $("#categories").hide();
			  $("#books").hide();
			});
			
			$("#button2").click(function() {
			  $("#authors").hide();
			  $("#books").show();
			  $("#categories").hide();
			});
			
			$("#button3").click(function() {
			  $("#authors").hide();
			  $("#categories").show();
			  $("#books").hide();
			});
		})
	</script>
  </head>
  
  <body>
	<div class="container">
		<div class="col-lg-12 well">
			<div class="col-sm-2">
				<div class="row">
					<button class="col-sm-12" id="button1" type="button">Автори</button>
				</div>
				<div class="row">
					<button class="col-sm-12" id="button2" type="button">Книги и списания</button>	
				</div>
				<div class="row">
					<button class="col-sm-12" id="button3" type="button">Категории</button>	
				</div>
			</div>
			<div class="col-sm-10" id="authors">
				<ul style="list-style-type:none">
					<li><a href="url">Алберт Айнщайн</a</li>
					<li><a href="url">Антоан дьо Сент Екзюпери</a</li>
					<li><a href="url">Волтер</a</li>
					<li><a href="url">Данте Алигиери</a</li>
					<li><a href="url">Йохан фон Гьоте</a</li>
					<li><a href="url">Марк Твен</a</li>
					<li><a href="url">Ричард Бах</a</li>
					<li><a href="url">Уилям Шекспир</a</li>
					<li><a href="url">Ърнест Милър Хемингуей</a</li>
				</ul>
			</div>
			<div style="display:none" class="col-sm-10" id="categories">
				<ul style="list-style-type:none">
					<li><a href="url">Любов</a</li>
					<li><a href="url">Приятелство</a</li>
					<li><a href="url">Живот</a</li>
					<li><a href="url">Щастие</a</li>
					<li><a href="url">Тъга</a</li>
					<li><a href="url">Време</a</li>
					<li><a href="url">Добро</a</li>
					<li><a href="url">Доверие</a</li>
					<li><a href="url">Егоизъм</a</li>
					<li><a href="url">Знание</a</li>
				</ul>
			</div>
				<div style = "display:none" class="col-sm-10" id="books">
				<ul style="list-style-type:none">
					<li><a href="url">Дневникът на Ане Франк</a</li>
					<li><a href="url">Здрач</a</li>
					<li><a href="url">Отнесени от вихъра</a</li>
					<li><a href="url">Мисли и забогатявай</a</li>
					<li><a href="url">Шифърът на Леонардо</a</li>
					<li><a href="url">Алхимикът</a</li>
					<li><a href="url">Властелинът на пръстените</a</li>
					<li><a href="url">Хари Потър</a</li>
					<li><a href="url">Да убиеш присмехулник</a</li>
					<li><a href="url">Гордост и предразсъдъци</a</li>
				</ul>
			</div>
		</div>
	</div>
  </body>
</html>