h1 {
	color:white;}
		
div.well {
	background-color:#F4F3DB}

.space {
	height: 100px;
}

ul {
	list-style-type:none;
}

.components {
	padding: 20px;
}

.buttons {
	float: left;
}

.view {
	float: right;
}

.quote-link {
	padding-left: 10px;
}