h1 {
	color:white;}
		
div.well {
	background-color:#F4F3DB}

.button {
	color: white;
	background-color:#8FD8D2;
	border-radius: 12px;
	border-color: #8FD8D2;
	font-size: 18px;
	padding: 12px 28px;
	margin: 3px;
}

.space {
	height: 100px;
}

ul {
	list-style-type:none;
}

.components {
	padding: 20px;
}

.buttons {
	float: left;
}

.view {
	float: right;
}

.link {
  color: #FFFFFF;
  display: block;
  height: 100%;
  width: 100%;
}

.link:hover {
   color: #FFFFFF;
   text-decoration: none;
}