.custom-nav {
	background-color: #8FD8D2;
}

.custom-nav * {
	color: white;
}

.custom-nav .dropdown-item {
	color: white;
}

.custom-nav .dropdown-item:hover {
  color: black;
  text-decoration: none;
}

.custom-nav a:hover {
  color:white;
  text-decoration: underline;
}

.custom-nav input[type=text] {
  padding: 6px;
  font-size: 17px;
  border: none;
}

.custom-nav .search-container button {
  float: right;
  padding: 6px 10px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.custom-nav ul li .dropdown-menu {
	background-color: #8FD8D2;
}
