.star {
	font-size: 26px !important;
	color: #F0DF46;
}

.heart {
	color: white;
	text-shadow: -2px 0 red, 0 2px red, 2px 0 red, 0 -2px red;
	font-size: 26px;
}

.heart-btn {
	border: none;
	background: none;
}

.sth {
	display: none;
}

.facebook-share {
	border: none;
	overflow: hidden;
}

.quote-bar > span {
	padding-right: 5px;
}

.quote-content {
    max-width: 60%;
    position: relative;
    text-align: center;
}

.quote-content > .quote-body {
    background-color: rgba(0, 0, 0, 0.6);
    width: 96%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 4px;
}

.quote-content > .quote-img {
    max-width: 100%;
}

.red {
    color: red;
}

.white {
    color: white;
}

@media only screen and (max-width: 850px) {
    .quote-content{
        max-width: 90%;
    }
}